@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300|Roboto");


.search-body{
  border: 1px solid #DCDCDC;
}

.search{
  height: 100px;
  padding: 30px;
}


.search input{
  border: 1px solid #DCDCDC;
  width: 400px;
  height: 40px;
  border-radius: 5px;


  font-size: 1em;
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.btn-search:hover{
  cursor: pointer;
}

::placeholder {
    color: 	#DCDCDC;
    opacity: 1; /* Firefox */
    text-indent: 20px;
    -webkit-text-stroke: 1px background-color;
}

.logo{
  height: 100px;
  padding: 35px;
}

.burguer{
  margin-top: 0px;
  border-right: 1px solid #DCDCDC;
  height: 100px;
}

.menu{
  border-bottom: 1px solid #DCDCDC;
  padding: 20px;
}

.buttons{
  margin-top: 15px;
}

#buy{
  border-radius: 7px;
  font-size: .9em;
  width: 100px ;
  height: 35px;
  color: #fff ;
  background-color:  #566062;
  cursor: pointer;
}

#rent{
  border-radius: 7px;
  font-size: .9em;
  width: 100px ;
  height: 35px;
  color: #566062;
  background-color:  Transparent;
  cursor: pointer;
}

.main{
  height: 1200px;
}

.settings{
  background-color: #566062;
  height: 1200px;
}

.gallery{
  background-color: #F3F3F3;
  width: 1250px;
  height: 1200px;
}

.col-centered{
   text-align: center;
}

.select{
  width: 350px;
  height: 60px;
  background-color: #4D5557;
  color: #fff;
  text-align: left;
  font-size: .9em;
  -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 padding: 2px 2px 2px 30px;
 border: none;
 background: #4D5557 url("/images/br_down.png") no-repeat 300px center;
}

.select:hover{
  cursor: pointer;
}

:focus {
  outline: none !important;
}

.view, .bathroom, .floor, .other{
  margin-top: 30px;
}

.owner, .extras{
  margin-top: 3px;
}

.min-price,.max-price{
  width: 80px;
  height: 35px;
  background-color: #fff;
  color: gray;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  vertical-align: middle;

}

.rounded{
  border-radius: 0;
}

.min-price{
  margin-left: 80px;
  text-align: center;
}

.max-price{
  margin-right: 25px;
  text-align: center;
}

.range-interval{
  margin-top: 30px;
}

#slider-price{
  height: 7px;
  width: 300px;
  margin: auto;
  border: none;
}

.label-price{
  color: #fff;
  margin-top: 35px;
  margin-right: 70px;

}

.min-bedroom,.max-bedroom{
  width: 80px;
  height: 35px;
  background-color: #fff;
  color: gray;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}

.min-bedroom{
  margin-left: 80px;
  text-align-last: center;
}

.max-bedroom{
  margin-right: 25px;
  text-align-last: center;
}

.label-bedroom{
  color: #fff;
  margin-top: 35px;
  margin-right: 40px;
}


.divisory{
  border: 1px solid #fff;
  margin-top: 45px;
  height: 0px;
  width: 10px;
}

.checkname{
  color: #fff;
  padding-left: 10px;
  font-size: .9em;
  vertical-align: middle;
}


.checkrow{
  margin-top: 20px;
  width: 150px;
  text-align: left;
  height: 20px;
}

.checkcol{
  margin-top: 30px;
  margin-left: 50px;
}

.food-delivery{
  margin-top: 30px;
  color: gray;
  width: 200px;
  height: 40px;
  text-align: left;
  font-size: .9em;
  -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 padding: 2px 2px 2px 30px;
 border: none;
 background: #fff url("/images/gray_down.png") no-repeat 170px center;
}
.food-delivery{
  cursor: pointer;
}

.hr {
  width: 90%;
  border-top: 3px solid #4D5557;
  margin: auto;
  margin-top: 30px;
}

.btn-search{

  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #09AEDC;
  color: #fff;
  border: none;
  font-size: .9em;
  font-family: 'Open Sans', sans-serif;
}

.btn-bottom{
  margin-top: 30px;
}

.btn-search-pos{
  text-align: right;
  margin-right: 20px;
}

.checkbox{
  width:170px;
}

.checkbox .tag {
  color: #fff;
  display: block;
  float: right;
  position: relative;
  width: 130px;
  height: 20px;
  text-align: left;
}
.checkbox label {
  display: inline;
}
.checkbox .input-assumpte {
  display: none;
}

.input-assumpte + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 5px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.input-assumpte:checked + label:after {
  width: 100%;
  height: 100%;
  content: "";
  background-color: #008FD5;
  left: 0px;
  position: absolute;
  top: 0px;
}

.check:hover{
  cursor: pointer !important;
}

.type{
  color: #09AEDC;
  padding-right: 100px;
  width: 150px;
  height: 40px;
  color: ##09AEDC;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 2px 2px 2px 2px;
   background: #4D5557 url("/images/gray_down.png") no-repeat 110px center;
   background-color: Transparent;
   border: none;
}

.type:hover{
  cursor:pointer;
}

.city{
  color: #09AEDC;
  padding-right: 100px;
  padding-left: 20px;
  width: 150px;
  height: 40px;
  color: ##09AEDC;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 2px 2px 2px 2px;
   background: #4D5557 url("/images/gray_down.png") no-repeat 90px center;
   background-color: Transparent;
   border: none;
}

.city:hover{
  cursor:pointer;
}
